/* This file is part of AJDB
 * Copyright 2022, Alex Badics
 * All rights reserved. */

/* Panes */
body {
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: 350px auto;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.top_left {
    background: purple;
    border-bottom: 1px solid black;
    color: white;
    font: 16pt sans;
}

.top_right {
    background: linear-gradient(to right, purple , indigo);
    color: white;
    border-bottom: 1px solid black;
    display: flex;
    justify-content:center;
    align-items: center;
}

.bottom_left {
    background: #aaa;
    border-right: 1px solid black;
    overflow: auto;
}

.bottom_right {
    overflow: auto;
}

.bottom_right_scrolled {
    height: auto;
    width: auto;
    position: relative; /* so that child absolute works */
    background: #ddd;
    text-align: center;
}

/* Menu stuff */

.ajdb_logo {
    color: black;
    margin: 5px 15px 5px 15px;
    padding: 5px;
    background: white;
    border-radius: 5px;
    display: inline-block;
    font: 25px serif;
}

.menu_container {
    width: 750px;
    display: flex;
    align-items: baseline;
    gap: 30px;
}

.menu_act_title {
    display: inline-block;
    font-size: 18pt;
    font-weight: bold;
}

.menu_date {
    display: inline-block;
    font-size: 14pt;
}

.date_flex {
    display:flex;
    cursor: pointer;
    border: 1px solid #666;
    border-radius: 5px;
}

.date_current {
    padding: 5px 10px 5px 10px;
}

.date_icon {
    border-left: 1px solid gray;
    padding: 5px 10px 5px 10px;
}

.date_dropdown_content {
    display: none;
    position: absolute;
    background: indigo;
    border: 1px solid #666;
    border-radius: 0px 0px 5px 5px;
    padding: 5px 10px 5px 10px;
    box-shadow: 2px 2px 5px #888888;
    max-height: 400px;
    overflow: auto;
    z-index: 1;
}

.date_dropdown_content a{
    color: white;
    text-decoration: none;
}

/* TOC */

.toc {
    margin: 0px 10px 1em 0px;
}

.toc ul {
    padding-left: 20px;
}

.toc a {
    color: black;
    text-decoration: none;
}

/*  Document */
.document{
    max-width: 750px;
    border: 1px solid gray;
    display: inline-block;
    background: white;
    padding: 30px 60px 30px 60px;
    margin: 15px 0px 15px 0px;
    text-align: justify;
    box-shadow: 2px 2px 10px #888888;
}

blockquote {
    margin: 0.5em 0px 0px 0px;
    padding: 0px 0px 0px 20px;
    border-left: 3px solid gray;
    font-size: 10pt;
}

.act_title, .preamble {
    margin-bottom: 2em;
}

.se_book, .se_part, .se_chapter, .se_title, .se_subtitle {
    margin-top: 2em;
    margin-bottom: 1.5em;
    margin-left: 120px;
}

.act_title {
    font: 18pt serif;
    margin: 20px 20px 30px 0px;
    text-align: left;
}

.preamble {
    margin-bottom: 1.5em;
    text-align: justify;
}

.se_book {
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
}

.se_part {
    font-size: 16pt;
    text-align: left;
}

.se_chapter, .se_title {
    font-size: 14pt;
    font-style: italic;
    text-align: left;
}

.se_subtitle {
    font-weight: bold;
}

.article_identifier {
    font-weight: bold;
}
.article_body {
    margin: -1.5em 0px 1.5em 80px;
}
.article_title {
    font-style: italic;
    margin: 0px 0px 0px 40px;
}
.article_container, .sae_container {
    width: 100%
}

.sae_container {
    /* to anchor inner position: absolute elements */
    position: relative;
}
.sae_identifier {
    min-height: 1.5em;
}
.sae_body {
    margin: -1.5em 0px 0px 40px;
    min-height: 1.5em;
}

.blockamendment_text {
    font-style: italic;

}
.blockamendment_container {
    display: inline-block;
    margin: 0.5em 0px 0px 0px;
    padding: 0px 0px 0px 20px;
    border-left: 3px solid lightgray;
}

.quote_line {
    font-size: 10pt;
}

.not_found {
    width: 750px;
    font-size: 16pt;
    text-align: left;
}

.snippet_container {
    position: absolute;
    max-width: 700px;
    border: 1px solid gray;
    background: white;
    padding: 10px;
    text-align: justify;
    box-shadow: 2px 2px 10px #888888;
}

.past_change_container {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -25px;
    height: calc(100% - 6px);
    width: 15px;
    text-align: center;
}

.past_change_marker {
    display: inline-block;
    height: 100%;
    width: 3px;
    background: indigo;
}

.modified_by {
    font-style: italic;
    margin-bottom: 0.5em;
}

.previous_state_label {
    margin-bottom: 1em;
}

:target {
   background-color: #ffffc0;
}
